/*{
    color:rgba(25, 253, 4, 0.723);
} 
p {
    color:darkmagenta;
}
button{
    color: lightseagreen;
    background-color:lightsalmon;
}
body {
    background-color: lightgoldenrodyellow;
}
h3 {
    color: rgb(145,34,99);
}
h4 {
    color: #f41f8f;
}
#One{
color:salmon;
}
#Two{
    color: rgb(221, 34, 190);
}
.one{
    color: #0f4d9a;
}
*/
*{
    font-family: 'Times New Roman', Times, serif;
}

#box{
    /*Fun Fact Comment Used*/
        background-color: red;
        color:azure;
    }
    .heading{
        color:goldenrod;
    }
    button{
        background-color: green;
    }
    h4{
        text-align:center;
        text-decoration: red wavy underline;
    }
    a{
        text-decoration:none;
    }
    #h1{
        font-weight:normal;
    }
    #h2{
        font-weight:bold;
    }
    #h3{
        font-weight:lighter;
    }
    #h4{
        font-weight:900;
    }
    #one{
        font-family:arial;
        font-size:20px;
        line-height:30px;
        list-style:circle;
        text-transform: capitalize;
    }
    #two{
        font-family: 'Times New Roman', Times, serif;
    }
    h5{
        text-align:center;
    }
    #three{
        text-transform: capitalize;
    }
    #outer{
        font-size:25px;
    }
    #inner{
        font-size: 10px;
    }
    