/*div{
    height:100px;
    width:300px;
    background-color:rgb(33, 97, 186);
    border-width:3px;
    border-style:ridge;
    border-color:rgb(11, 15, 0);
    border-radius:1px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding: 40px;;
    margin-top:60px;
    margin:40px;
}
h1{
    border: 5px solid red;
    text-align: center;
}
div{
    height:100px;
    width: 100px;
    background-color:green;
    border-radius:50%;
} 
body{
    background-color: black;
}
#main {
    height:400px;
    width: 100px;
    background-color: white;
}
#red {
    height:50px;
    width: 50px;
    border-radius: 50%;
    padding:10px;
    margin: 10px;
    margin-top: 30px;
    background-color: red;
}
#yellow {
    height:50px;
    width: 50px;
    border-radius: 50%;
    padding:10px;
    margin: 10px;
    background-color: yellow;
}
#green {
    height:50px;
    width: 50px;
    border-radius: 50%;
    padding:10px;
    margin: 10px;
    background-color: green;
} 
*{
    padding:0;
    margin:0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo {
    color:#f08804;
}
a {
    margin-right:200px;
    text-decoration: none;
}
#fun{
    background-color: pink;
    display: inline-block;
}
#rgba{
    background-color: rgba(255,00,00,.77);
} */
*{
    padding:0;
    margin:0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo {
    color:#f08804;
}
a {
    margin-right:200px;
    text-decoration: none;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content {
    height: 600px;
}
footer{
    background-color:#0f1111;
    text-align: center;
}


